<div class="container">
  <h2>Сайн байна уу, {{ authService.getUsername() }}!</h2>
  <div class="cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ажилтнууд</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Ажилтны мэдээлэл удирдах</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Ирц</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Өдөр тутмын ирц бүртгэх</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Амралт</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Амралтын хүсэлт удирдах</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>